[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "pARI"]
	path = pARI
	url = https://github.com/angeella/pari
[submodule "powerPLS"]
	path = powerPLS
	url = https://github.com/angeella/powerpls
