[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pARI"]
	path = pARI
	url = https://github.com/angeella/pari
	shallow = true
	registered = true
